$background-color: #FAFAFA;

$dropshadow: 0px 0px 16px 0px rgba(89, 89, 89, 0.25);
$dropshadow-hover: 0px 0px 20px 0px rgba(89, 89, 89, 0.50);
// $dropshadow-light: 0px 0px 16px rgba(168, 168, 168, 0.25);
$highlight-link: #d4d2d9;
$highlight-pink: #EADCE0;
$highlight-dark-pink: #D9CBD9;
$link-purple: #91689B;
$highlight-blue: #ceeeff; // case study: grace period
$grace-blue: #013D5B;
$goals-blue: #255F82;
$escher-purple: #5A3CB2;
// $escher-light-purple: #65659F;
// $spot-bluegray: #84959F;
// $spot-green: #246e1d;
$text-primary: #262626;

$font-weight-light: 400;
$font-weight-reg: 500;
$font-weight-med: 600;
$font-weight-bold: 700;

$corner-rounding: 8px;

$font-family: "Raleway", "Roboto", sans-serif;

body,
html {
  font-family: $font-family;
  font-weight: $font-weight-reg;
  background-color: $background-color;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  color: $text-primary;
  scroll-behavior: smooth;
}

.text-title {
  font-size: 1.5em;
  font-weight: $font-weight-light;
}

.text-secondary {
  font-size: 1.25em;
  font-weight: $font-weight-reg;
}

.light {
  font-weight: $font-weight-light;
}

.bold {
  font-weight: $font-weight-bold;
}

.text-reg {
  font-style: normal;
}

.centered {
  display: flex;
  justify-content: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.spacing-025 {
  margin-bottom: 0.25rem;
}
.spacing-075 {
  margin-bottom: 0.75rem;
}
.spacing-2 {
  margin-bottom: 2rem;
}
.spacing-3 {
  margin-bottom: 3rem;
}

#text-white {
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
  font: inherit;
}

.room {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.content {
  margin: auto;
  padding: 0 8rem;
  max-width: 96rem;
  // margin-top: 0;
}


.highlight-pink {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, $highlight-pink 50%);
  width: fit-content;
}

.highlight-dark-pink {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, $highlight-dark-pink 50%);
  width: fit-content;
}

.highlight-blue {
  //for grace period case study
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, $highlight-blue 50%);
  width: fit-content;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

.page-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
#case-studies-spacing {
    height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#home-spacing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home-page {
  display: flex;
  flex-direction: row;
  min-height: 53rem;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  overflow: hidden;
  gap: 1rem;


  .home-left {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .blink-text {
      display: inherit;
      flex-direction: column;
      width: 26rem;
      height: 10rem;

      .cursor-blinker {
        display: inline-block;
        background-color: $text-primary;
        height: 2.25em;
        width: 2px;
        margin-left: 2px;
        transform: translateY(6px);
      }

      .title {
        display: inline-block;
        font-size: 3em;
        font-weight: 300;
        margin-bottom: 0;
      }

      .subhead {
        display: inline-block;
        font-size: 2em;
        font-weight: 300;
      }
    }


  .labels {
    padding-top: 3vh;
    padding-bottom: 1em;
    padding-left: 3rem;

    .label-secondary {
      padding-left: 2rem;
    }
  }

}
  .loopy-arrow {
    position: absolute;
    width: 9rem;
    height: auto;
    object-fit: cover;
    pointer-events: none;
    user-select: none;
    transform: translateX(-22.5rem) translateY(5rem);
  }

.home-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .img-w-outline {
    display: flex;
    width: fit-content;
    height: fit-content;
    border-radius: $corner-rounding;
    margin-right: 2rem;

    .img-container {
      position: relative;
      width: 70rem;
      transition: transform .2s;
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        overflow: hidden;
        user-select: none;
        border-radius: 200px;
        transition: transform .2s;
      }

      .outline-overlay {
        position: absolute;
        top: -2rem;
        right: -2rem;
        width: 100%;
        height: 99%;
        border: 2px solid $text-primary;
        border-radius: 200px;
        z-index: 1;
        pointer-events: none;
        transition: transform .2s;
      }
    }
    .img-container:hover {
      img {
        transform: translateX(15px) translateY(-15px);
      }
      .outline-overlay {
        transform: translateX(-14px) translateY(14px);
      }
    }
  }

  .to-static {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
  }
}
}
.paper-effect {
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 160px;
  height: 100px;
  background-color: $background-color;
  overflow: hidden;
}

.paper-effect::before {
  content: "";
  position: absolute;
  bottom: -55px;
  left: 26px;
  width: 260px;
  height: 130px;
  background-color: #857861;
  transform-origin: 100% 0;
  transform: rotate(31.5deg);
  box-shadow: -2px 2px 12px #b4b4b4;
}

.interactive-back-container {
  z-index: 6;
  position: absolute;
  bottom: 4px;
  padding: 0.6rem 0.5rem;

}

.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 1rem;
  color: $escher-purple;
  border: 2px solid $escher-purple;
  transition: background-color 0.25s ease;
  border-radius: 8px;
  height: 2.8rem;
  font-weight: $font-weight-med;
}

.nav-button:hover {
  color: white;
  background-color: $escher-purple;
}

.link-button {
  position: relative;
  display: inline-block;
  text-decoration: underline;
  color: inherit;
  cursor: pointer;
  padding: 0 0.5rem;
  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: $highlight-link;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.25s ease-in-out;
    z-index: -1; // Push behind text
  }

  &:hover {
    color: $escher-purple;

    &::before {
      transform: scaleX(1);
    }
  }
}
#about-spacing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#about {
  padding: 0;
  max-width: 112rem;
    transform: translateX(-50px) translateY(10px);
}
.about-section {
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    width: 27%;
    height: auto;
    object-fit: contain;
    // overflow: hidden;
    // margin: auto;
    // padding-bottom: 5vh;
  }

  .text-bounding-box {
    width: 80rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-left: 2rem;
    padding-right: 6rem;
    .color-box {
      display: flex;
      padding-left: 2rem;
      padding-bottom: 2rem;
      width: fit-content;
      height: fit-content;
      border-radius: $corner-rounding;

      .bio {
        position: relative;
        padding: 1em;
        line-height: 1.75;
        width: fit-content;
        height: fit-content;

        .outline-overlay {
          position: absolute;
          padding-right: 2rem;
          padding-top: 2rem;
          top: -1.5rem;
          right: -1.5rem;
          width: 100%;
          height: 100%;
          border: 2px solid black;
          border-radius: $corner-rounding;
          z-index: 1;
          pointer-events: none;
        }
      }
    }
  }
}
#color1 {
  background-color: #E8E1E8;
  margin-right: 7rem;
}
#color2 {
  background-color: #D0E8D2;
  margin-left: 7rem;
}
.color-swatches {
  width: 31.5rem;
  // margin-right: 12.5rem;

  .swatch {
    position: relative;
    background-color: white;
    box-shadow: $dropshadow;
    z-index: 1;

    .swatch-box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 9rem;
      padding: 1rem;
      margin-bottom: 1rem;

      .inline-row {
        display: inline;
        a {
          text-decoration: underline;
        }
        a:hover {
          color: $link-purple;
        }
      }
      .labels {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      #color-light {
        color: #5CA9AF;
      }
      #color-dark {
        color: #1E6E67;
      }
      #color-gray {
        color: #729FA8;
      }
    }

    #box1 {
      background-color: #D0F0EF;
    }
    #box2 {
      background-color: #AFE3DF;
    }
    #box3 {
      background-color: #65AEB3;
    }
    #box4 {
      background-color: #2C6B74;
      color: white;

      ul {
        display: flex;
        gap: 1rem;
        padding: 0;
        margin: 0;
        li {
          list-style-type: none;
          text-decoration: underline;
        }
        li:hover {
          color: $highlight-link;
        }
      }
    }
    .swatch-title {
      color: #6A6A6A;
      font-weight: $font-weight-bold;
      padding-top: 5.5rem;
      padding-left: 1rem;
      padding-bottom: 1rem;
    }
  }
  #decorative {
    position: absolute;
    width: 20rem;
    z-index: 0;
    transform: rotate(2.7deg) translate(40px, -20px);
    #box1 {
      background-color: #F1FEEF;
    }
    #box2 {
      background-color: #D0E8D2;
    }
    #box3 {
      background-color: #B8D3C0;
    }
    #box4 {
      background-color: #73AE9A;
    }
  }
}


#home-nav-bar {
  background: #ffffff00;
}

#static-nav-bar {
  background: #FFFFFF;
  box-shadow: $dropshadow;
}

// static portfolio nav bar
.nav-bar {
  min-height: 4rem;
  padding: 1em 0;
  overflow: hidden;

  .nav-bar-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    padding: 0 8rem;
    max-width: 96rem;

    .logo {
      font-family: "Covered By Your Grace";
      color: $escher-purple;
      display: inherit;
      align-items: center;
      font-size: 2em;
    }

    .logo:hover {
      color: $link-purple;
      transition: color 0.2s;
    }

    .links-and-button {
      display: flex;
      flex-direction: row;
      gap: 6rem;
      align-items: center;
    }

    .nav-links {
      position: relative;

      ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style-type: none;
        gap: 6rem;

        li>a {
          display: flex;
          font-family: inherit;
          font-size: inherit;
          text-decoration: none;
          color: inherit;
          text-align: right;
        }

        a:hover {
          color: $link-purple;
          transition: color 0.2s;
        }
      }
    }
  }
}

.sliding-underline {
  position: absolute;
  height: 2px;
  background-color: black;
  bottom: 5px;
}

.active-link {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-style: wavy;
  /* or solid, dotted, etc. */
  font-weight: bold;
}


// case study page

.portfolio-title {
  display: flex;
  flex-direction: row;
  padding: 1em 0;
  margin: 0 auto;
  justify-content: center;
}

.portfolio-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;

  .card {
    display: inherit;
    flex-direction: column;
    flex: 1;
    max-width: 30.5rem;
    box-shadow: $dropshadow;
    border-radius: $corner-rounding;

    a,
    .card-tile {
      display: inherit;
      flex-direction: column;
      text-decoration: none;
      height: 100%;

      img {
        display: block;
        object-fit: cover;
        height: 100%;
        border-top-left-radius: $corner-rounding;
        border-top-right-radius: $corner-rounding;
      }

      .description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 1em;

        .tags {
          display: inherit;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-end;
          height: 100%;
          // padding-top: 0.25em;

          ul {
            display: inherit;
            flex-direction: column;
            justify-content: center;
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
              color: #838383;
            }
          }
        }
      }
    }
  }

  .card:hover {
    box-shadow: $dropshadow-hover;
  }
}

.spacer {
  padding: 2.75em;
}

.mini-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  box-shadow: $dropshadow;
  margin: 0 auto;
  margin-bottom: 3em;
  // width: 87rem;
  border-radius: $corner-rounding;

  .top-header {
    display: inherit;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 3rem;
    padding-bottom: 1.5em;

    .title {
      font-weight: $font-weight-bold;
    }
  }

  .body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    padding: 0 3rem;
    padding-bottom: 1.5rem;
    flex-wrap: wrap;

    .item {
      display: flex;
      flex-direction: column;
      flex: 1;
      min-width: 300px;

      img {
        display: block;
        object-fit: cover;
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
      }

      .description {
        display: inherit;
        flex-direction: column;

        .name {
          font-weight: bold;
          margin-bottom: 0.5rem;
        }

        .description1 {
          font-style: italic;
          margin-bottom: 0.5rem;
        }

        .description2 {
          margin-bottom: 1rem;
        }

.links {
  display: inherit;
  flex-direction: row;
  font-weight: $font-weight-med;
  color: $escher-purple;
  gap: 8px;

  a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: inherit;
    z-index: 0;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $highlight-link;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s ease-in-out;
      z-index: -1;
    }

    &:hover {
      &::before {
        transform: scaleX(1);
      }
    }
  }
}
      }
    }
  }
}

// artwork page

.img-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 1.5rem 8rem;
  max-width: 96rem;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    // flex-wrap: wrap;
    gap: 0.5em;

    .img {
      height: auto;
      object-fit: cover;
      overflow: hidden;
      padding-bottom: 0.5rem;
    }

    .resize-img {
      // for images smaller than the width, fill the space
      flex: 1;
      height: auto;
      object-fit: cover;
      overflow: hidden;
      padding-bottom: 0.5rem;
    }

    .inner-column {
      display: flex;
      flex-direction: column;
      height: 100%;

      img {
        width: 100%;
      }
    }
  }
}
#not-full-page {
  margin-top: 0;
}


.secondary-nav-links {
  position: relative;
  padding-top: 1.5rem;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;

    li {
      display: flex;
      align-items: center;

      a {
        display: flex;
        font-family: inherit;
        font-size: inherit;
        text-decoration: none;
        color: inherit;
        text-align: right;
      }

      // Pipe between links
      &+li::before {
        content: "|";
        margin: 0 3rem; // controls space between links
        font-weight: 400;
      }
    }

    a:hover {
      color: $link-purple;
      transition: color 0.2s;
    }
  }
}

.back-to-top {
  position: fixed;
  bottom: 72px;
  right: 184px;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    margin: auto;
    background: rgb(255, 255, 255);
    border: 2px solid #5A3CB2;
    border-radius: 100px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    .arrow {
      height: 40px;
      width: 40px;
      margin: auto;
      color: $escher-purple;
      stroke-width: 2;
    }
  }

  .back-text {
    margin-top: 16px;
    font-family: $font-family;
    font-size: 1rem;
    font-weight: 600;
    color: $escher-purple;
  }

  &:hover {
    .icon {
      background-color: $escher-purple;
      transform: scale(1.05) translateY(-4px);
      box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
      border: 4px solid $escher-purple;

      .arrow {
        color: white;
      }
    }
  }

}


//   .spacer {
//     padding: 2.75em;
//   }
//   .other-section {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     background-color: white;
//     box-shadow: $dropshadow;
//     margin: 0 12vw;
//     margin-bottom: 3em;
//     padding: 0 8px;
//     .top-header {
//       display: inherit;
//       flex-direction: row;
//       justify-content: space-between;
//       padding: 2em 2vw;
//       padding-bottom: 1.5em;
//       .title {
//         font-weight: bold;
//       }      
//     }
//     .body {
//       display: inherit;
//       flex-direction: row;
//       justify-content: space-between;
//       padding: 0 2vw;
//       padding-bottom: 1.75vh;
//       .item {
//         display: flex;
//         flex-direction: column;
//         width: 16.5vw;
//         img {
//           display: block;
//           object-fit: cover;
//           height: auto;
//           box-shadow: $dropshadow-light;
//           margin-bottom: 1vh;
//         }
//         .description {
//           display: inherit;
//           flex-direction: column;
//           .name {
//             font-weight: bold;
//             margin-bottom: 0.5vh;
//           }
//           .description1 {
//             font-style: italic;
//             margin-bottom: 0.5vh;
//           }
//           .description2 {
//             margin-bottom: 1vh;
//           }
//           .links {
//             display: inherit;
//             flex-direction: column;
//             a {
//               text-align: right;
//             }
//           }
//         }
//       }
//     }
//   }


// case studies
#passwordImg {
  position: absolute;
  left: 50%;
  transform: translateX(-120%);
  top: 50%;
  transform: translate(-144%, -55%);
  width: 400px;
  z-index: 0;
  pointer-events: none;
}
.password {
  display: flex;
  flex-direction: column;
  height: 78vh;
  justify-content: center;
  align-items: center;
  .passTitle {
    font-size: 1.75rem;
    padding-bottom: 1.5rem;
    font-weight: 700;
  }
  .inputBox {
    display: flex;
    border: 3px solid $goals-blue;
    border-radius: 8px;
    overflow: hidden;
    input {
      border: 0;
      padding: 0 1rem;
      overflow: hidden;
      background-color: rgb(255, 255, 255);
      width: 16rem;
    }
    button {
      border: 0;
      background-color: $goals-blue;
      color: white;
      height: 2.5rem;
      padding: 0 0.7rem;
    }
  }
  .pass-back-button {
    text-decoration: underline;
    padding-top: 1.5rem;
    font-weight: 600;
  }
  .pass-back-button:hover {
    color: $goals-blue;
  }
}
.content-case-study {
  margin: auto;
  padding: 0 8rem;
  max-width: 80rem;
}

.top-card {
  flex: 1;
  position: relative;
  height: 32rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-between;

  .back-button {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 4rem;  
    left: 4rem;  
    color: white;
    gap: 2px;
      .chevron {
        width: 1rem;
      }
      .back-text {
        text-decoration: underline;
      }
      .back-text:hover {
        font-weight: 700;
      }
  }

  .text {
    width: 36%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 4rem;
    padding-top: 4rem;



    .title {
      font-size: 2em;
      padding-bottom: 8px;
    }

    .headline {
      padding-bottom: 24px;
      font-weight: 400;
    }

    a {
      text-decoration: none;
      width: fit-content;
      font-weight: 600;
      color: #262626;
      padding: 0.5em;
      border: 1.5px solid #262626;
      border-radius: 5px;
    }

    .white-button {
      color: white;
      border: 1.5px solid white;
      transition: background-color 0.1s ease;
    }

    .white-button:hover {
      color: white;
      background-color: #00000075;
      border: 1.5px solid white;
    }
  }

  .header-img {
    // background-color: red;
    width: 50%;
    height: auto;
    padding-right: 4rem;
    align-self: flex-end;
    pointer-events: none;

    img {
      width: 100%;
      display: block;
    }
  }
}

#align-center {
  align-self: center;
}

#grace-top-background {
  background-color: $grace-blue;
}
#goals-top-background {
  background-color: $goals-blue;
}
#burnout-top-background {
  background-image: url(./assets/images/caseStudies/burnout/burnoutTopBackground.png);
  background-size: cover;
  background-position: center;
  background-color: #f0f0f0;
}
#spaces-top-background {
  background-image: url(./assets/images/caseStudies/spaces/spacesTopBackground.png);
  background-size: cover;
  background-position: center;
  background-color: #f0f0f0;
}
#anivision-top-background {
  background-image: url(./assets/images/caseStudies/anivision/anivisionTopBackground.gif);
  background-size: cover;
  background-position: center;
  background-color: #f0f0f0;
}

.full-caption {
  padding-bottom: 5rem;
}

.img-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  padding-bottom: 2rem;
}

.img-row-w-caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  padding: 2rem 0;
  padding-bottom: 0;
}

.lr-img-text {
  display: flex;
  flex-direction: row;
  gap: 64px;
  padding-top: 1rem;

  .imgs {
    display: flex;
    flex-direction: row;

    img {
      width: 264px;
    }
  }

  .text {
    padding-top: 1rem;
  }
}

.img-single {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    // flex: 1 0 auto;
    padding-bottom: 0.5rem;

  }
}
#smaller {
  width: 80%;
  margin: auto;
}

.caption {
  font-style: italic;
}
#spaces-caption {
  height: 3rem;
}

#goals-setup {
  justify-content: center;
  padding: 0 8rem;
  padding-bottom: 5rem;

  .img-row-w-caption {
    justify-content: flex-start;
    gap: 0;

    img {
      width: 264px;
    }
  }
}

#grace-chart-img {
  width: 75%;
}

#percentageSplitImg {
  width: 80%;
  padding: 2rem 4rem;
}


.summary {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 3vw;
}
.secondary-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;

  .list {
    padding: 1.5rem 1rem;
    padding-bottom: 2rem;
    text-align: center;

    li {
      list-style-type: none;
      width: 12rem;
    }
  }
}
.only-secondary {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
    .list {
    padding: 1.5rem 3.5rem;
    padding-bottom: 1.25rem;
    text-align: center;
    }
}
#horizontal {
display: flex;
  flex-direction: row;
  margin: auto;
  border-top: 1px solid #7B7B7B;
  border-bottom: 1px solid #7B7B7B;
}
#burnout-img {
  display: flex;
  margin: auto;
}



.divider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding-top: 3rem;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: #aaa;
  border: none;
}

.label {
  font-weight: 600;
  white-space: nowrap;
}

.arrow-case-study {
  display: flex;
  width: 2.5em;
  padding-bottom: 2rem;
}

.summary-section {
  margin-bottom: 2rem;
}

.detail-section {
  margin-bottom: 96px;

  .section-title {
    padding-top: 0.75rem;
    margin-bottom: 1rem;
  }
}

//color dependent on the case study page
#grace-deco {
  border-top: 3px solid $grace-blue;
  width: 2em;
}

//     #spaces-color {
//       border-top: 3px solid $escher-purple;
//     }
//     #spot-color {
//       border-top: 3px solid $spot-green;
//     }
.deco-white-callout {
  //for spacing purposes
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
}

.text-callout {
  margin: auto;
  width: 75%;
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.gray-callouts {
  display: flex;
  flex-direction: row;
  margin-bottom: 4rem;
  gap: 2rem;

  .gray-card {
    background-color: #EEEEEE;
    flex: 1;
    padding: 2rem;
    border-radius: $corner-rounding;
  }
}

.white-callout {
  display: flex;
  margin-bottom: 4rem;
  box-shadow: $dropshadow;
  border-radius: $corner-rounding;

  .white-card {
    padding: 2rem;
  }
}

//color dependent on the case study page
#grace-color {
  color: $grace-blue;
}

#goals-color {
  color: $goals-blue;
}


#spaces-color {
  color: $escher-purple;
}

//     #spaces-text {
//       color: $escher-purple;
//     }
//     #spot-text {
//       color: $spot-green;
//     }
//     img {
//       display: flex;
//       margin: auto;
//       margin-bottom: 72px;
//     }
//   }
//   #burnout-img {
//     display: flex;
//     margin: 4em auto;
//     width: 50%;


.text-block {
  margin-bottom: 2rem;

  ul {
    margin-top: 0.5rem;
  }
}

.pie-charts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .pie {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    text-align: center;

    img {
      width: 50%;
    }
  }
}

.savings-rules {
  display: flex;
  flex-direction: column;
  padding: 2.5rem 2rem;
  gap: 0.5rem;

  .savings-rule {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    img {
      width: 56px;
    }
  }
}
.footer {
  // border-top: 2px solid #dbdbdb;

  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 96rem;
    height: 4rem;
    gap: 1rem;

    .footer-section {
      // background-color: red;
      min-width: 5rem;

      ul {
        display: flex;
        flex-direction: row;
        gap: 12px;
        margin: 0;
        padding: 0;

        li {
          list-style-type: none;
          text-decoration: underline;
          font-weight: 700;
        }
        li:hover {
          color: $link-purple;
        }

      }
    }
  }
}


// .active {
//   padding-bottom: 4px;
//   border-bottom-style:solid;
//   border-bottom-width: 2px;
// }

// // 1080 screens
// @media only screen and (max-width: 2100px) {
//   body, html {
//     font-size: 15px;
//     font-weight: 400;
//   }
//   .content {
//     .secondary-nav {
//       margin: 2.5em;
//       margin-bottom: 1.5em;
//     }
//     .other-section {
//       margin: 0 9vw;
//       margin-bottom: 2em;
//       .top-header {
//         padding: 1.75em 1vw;
//         padding-bottom: 1.25em;   
//       }
//       .body {
//         padding: 0 1vw;
//         padding-bottom: 2vh;
//         .item {
//           width: 19.5vw;
//           img {
//             margin-bottom: 2vh;
//           }
//           .description {
//             .name {
//               margin-bottom: 1vh;
//             }
//           }
//         }
//       }
//     }
//     .portfolio-row {
//       margin: 0 9vw;
//       .card {
//         width: 21vw;
//       }
//     }
//     .top-container {
//       padding: 10em 8em;
//       .text {
//         padding-top: 10em;
//         padding-left: 8vw;
//       }
//     }
//     .about-section {
//       margin: 12em 8em;
//       margin-bottom: 0;
//       img {
//         width: 45%;
//       }
//       .text {
//         .box {
//           width: 54vw;
//         }
//       }
//     }
//     //case studies
//     .top-card {
//       margin: 2em 9vw;
//       height: 28.5em;
//       .text {
//         padding-top: 9.5%;
//         .role {
//           font-family: 300;
//         }
//         .headline {
//           font-weight: 400;
//         }
//       }
//     }
//     #spaces-top-background {
//       background-image: url(./img/portfolio/spaces/spacesTopBackground1080.png);
//     }
//     .secondary-info {
//       margin: 2em 17vw;
//       margin-bottom: -1.1em;
//       .list {
//         padding-bottom: 2em;
//       }
//     }
//     .info-section {
//       margin: 0 9vw;
//       margin-bottom: 96px;
//     }
//   }
// }
// // intermediate screens for case study spacing
// @media only screen and (max-width: 1500px) {
//   .content {
//     .top-card {
//       .text {
//         width: 38%;
//         padding-top: 6%;
//         padding-bottom: 0;
//         .title {
//           font-size: 1.5em;
//           padding-bottom: 8px;
//         }
//         .role {
//           font-family: 300;
//           font-size: 14px;
//         }
//         .headline {
//           font-family: 300;
//           font-size: 14px;
//         }
//       }
//     }
//     .secondary-info {
//       margin: -9em 9vw;
//       margin-bottom: -1.1em;
//       .list {
//         padding: 1.5em 2em;
//         padding-bottom: 2.5em;
//         text-align: center;
//       }
//     }
//     .info-section {
//       margin-bottom: 26px;
//       margin-right: 12vw;
//       .text-callout {
//         width: 90%;
//       }
//       iframe {
//         height: 40vh;
//       }
//     }
//   }
// }
// // intermediate screens for case study spacing
// @media only screen and (max-width: 1250px) {
//   .content {
//     .top-card {
//       margin: 2em 9vw;
//       height: auto;
//       .text {
//         padding: 0;
//         padding-top: 38%;
//         width: 95%;
//         .title {
//           font-size: 1.5em;
//         }
//         .role {
//           font-family: 300;
//         }
//         .headline {
//           font-weight: 400;
//           font-size: 14px;
//         }
//         a {
//           margin: auto;
//         }
//         .white-button {
//           color: #262626;
//           border: 1.5px solid #262626;
//         }
//       }
//       #text-white {
//         color: #262626;
//       }
//     }
//     .secondary-info {
//       margin: 0 9vw;
//       margin-bottom: -1.1em;
//       padding: 1em 0;
//       justify-content: space-between;
//       .list {
//         padding: 1em 0;
//       }
//     }
//     .info-section {
//       margin-bottom: 26px;
//       margin-right: 12vw;
//       .text-callout {
//         width: 90%;
//       }
//       iframe {
//         height: 25vh;
//       }
//     }
//   }
// }

// // mobile screens
// @media only screen and (max-width: 768px) {
//   body, html {
//     font-family: "Raleway", "Roboto", sans-serif;
//     background-color: #FAFAFA;
//     font-size: 14px;
//     margin: 0;
//   }
//   .back-to-top {
//     bottom: 24px;
//     right: 24px;
//     width: 48px;
//     height: 48px;
//     .up-arrow {
//       border-width: 0 3px 3px 0;
//       padding: 8px;
//       transform: translate(-4px, -2px);
//     -webkit-transform: translate(-4px, -2px);
//     }
//   }
//   .header {
//     padding: 2em 0;
//     padding-bottom: 0;
//     flex-direction: column;
//     align-items: center;
//     .nav {
//       width: 100%;
//       ul {
//         flex-direction: row;
//         padding: 0;
//         justify-content: space-evenly;
//         li > a {
//           margin: 0;
//           // margin-right: 12px;
//           width: fit-content;
//           margin-bottom: 8px;
//           text-align: left;
//         }
//       }
//     }
//   }

//   .icons {
//     a {
//       width: 48px;
//       height: 48px;
//       img {
//         width: 48px;
//         height: 48px;
//       }
//     }
//     #linkedin:hover {
//       width: 150px;
//     }
//     #mail:hover {
//       width: 120px;
//     }
//     #resume:hover {
//       width: 150px;
//     }
//   }
//   .content {
//     margin: 0 12px;
//     .secondary-nav {
//       margin: 3em;
//       margin-bottom: 1.5em;
//       ul {
//         padding: 0;
//       }
//     }
//     .img-section {
//       .row {
//         flex-direction: column;
//         img {
//           width: 100%;
//         }
//       }
//     }

//     .other-section {
//       .top-header {
//         flex-direction: column;
//         .title {
//           padding-bottom: 4px;
//         }
//       }
//       .body {
//         flex-direction: column;
//         padding-bottom: 0;
//         .item {
//           width: 100%;
//           padding-bottom: 32px;
//           img {
//             width: 100%;
//             height: auto;
//           }
//         }
//       }
//     }

//     .portfolio-row {
//       flex-direction: column;
//       .card {
//         width: 100%;
//         margin-bottom: 32px;
//         a > img {
//           width: 100%;
//         }
//       }
//     }

//     .top-container {
//       flex-direction: column;
//       padding: 6em 2em;
//       img {
//         width: 100%;
//       }
//       .text {
//         padding-top: 2em;
//         padding-left: 2em;
//         h1 {
//           font-size: 2.5em;
//           margin-bottom: 0;
//         }
//         h2 {
//           font-size: 1.5em;
//           font-weight: 300;
//           height: 100%;
//         }
//       }
//     }
//     .about-section {
//       margin: 3em 3em;
//       margin-bottom: 0;
//       img {
//         width: 110%;
//         padding-bottom: 1em;
//       }
//       .text {
//         flex-direction: column-reverse;
//         .bio {
//           padding-top: 0;
//           font-size: 1em;
//         }
//         .box {
//           margin-top: 2em;
//         }
//       }
//     }

//     //case studies
//     .top-card {
//       margin: 2em 9vw;
//       height: auto;
//       .text {
//         padding: 0;
//         padding-top: 38%;
//         width: 95%;
//         .title {
//           font-size: 1.5em;
//         }
//         .role {
//           font-family: 300;
//         }
//         .headline {
//           font-weight: 400;
//           font-size: 14px;
//         }
//         a {
//           margin: auto;
//         }
//         .white-button {
//           color: #262626;
//           border: 1.5px solid #262626;
//         }
//       }
//       #text-white {
//         color: #262626;
//       }
//     }
//     #burnout-img {
//       display: flex;
//       margin: 4em auto;
//       width: 80%;
//     }
//     .secondary-info {
//       margin: 0 9vw;
//       margin-bottom: -1.1em;
//       padding: 1em 0;
//       flex-direction: column;
//       .list {
//         padding: 1em;
//       }
//     }
//     .jump-button {
//       margin-bottom: 4em;
//     }
//     .info-section {
//       margin-bottom: 26px;
//       margin-right: 12vw;
//       .text-callout {
//         width: 95%;
//         margin-top: 32px;
//         margin-bottom: 48px;
//       }
//       img {
//         width: 100%;
//       }
//       iframe {
//         height: 50%;
//       }
//     }
//   }
//   .active {
//     padding-bottom: 2px;
//   }
// }