$background-color: #FAFAFA;

$dropshadow: 0px 0px 16px 0px rgba(89, 89, 89, 0.25);
$dropshadow-hover: 0px 0px 20px 0px rgba(89, 89, 89, 0.50);
$highlight-link: #d4d2d9;
$highlight-pink: #EADCE0;
$highlight-dark-pink: #D9CBD9;
$link-purple: #91689B;
$highlight-blue: #ceeeff; // case study: grace period
$grace-blue: #013D5B;
$goals-blue: #255F82;
$escher-purple: #5A3CB2;
$anivision-blue: #5A7DBD;
$text-primary: #262626;

$font-weight-light: 400;
$font-weight-reg: 500;
$font-weight-med: 600;
$font-weight-bold: 700;

$corner-rounding: 8px;

$font-family: "Raleway", "Roboto", sans-serif;

body,
html {
  font-family: $font-family;
  font-weight: $font-weight-reg;
  background-color: $background-color;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  color: $text-primary;
  // scroll-behavior: smooth;
}

#mobile {
  display: none;
}

.text-title {
  font-size: 1.5em;
  font-weight: $font-weight-light;
}

.text-secondary {
  font-size: 1.25em;
  font-weight: $font-weight-reg;
}

#text-white {
  color: white;
}

.light {
  font-weight: $font-weight-light;
}

.bold {
  font-weight: $font-weight-bold;
}

.text-reg {
  font-style: normal;
}

.centered {
  display: flex;
  justify-content: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.spacing-025 {
  margin-bottom: 0.25rem;
}

.spacing-075 {
  margin-bottom: 0.75rem;
}

.spacing-105 {
  margin-bottom: 1.5rem;
}

.spacing-2 {
  margin-bottom: 2rem;
}

.spacing-3 {
  margin-bottom: 3rem;
}

.indent {
  display: inline-block;
  width: 3rem;
}

a {
  text-decoration: none;
  color: inherit;
  font: inherit;
}

.highlight-pink {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, $highlight-pink 50%);
  width: fit-content;
}

.highlight-dark-pink {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, $highlight-dark-pink 50%);
  width: fit-content;
}

.highlight-blue {
  //for grace period case study
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, $highlight-blue 50%);
  width: fit-content;
}

.fade-loader {
  background: linear-gradient(-90deg,
      #f0f0f0 0%,
      #e0e0e0 50%,
      #f0f0f0 100%);
  background-size: 200% 100%;
  animation: skeleton-shimmer 1.2s infinite;
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 4/3;
  /* or whatever matches your real images */
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

.fade-image.loading {
  display: none;
}

.fade-image.loaded {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

@keyframes skeleton-shimmer {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}

.room {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 0;
  touch-action: none;
  /* Prevent scroll + gestures */
}

.content {
  margin: auto;
  padding: 0 6rem;
  max-width: 96rem;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

.page-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#home-spacing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-page {
  display: flex;
  flex-direction: row;
  min-height: 53rem;
  justify-content: center;
  align-items: center;
  margin-left: 3rem;
  padding: 0 3rem; //affects smaller screen sizes
  overflow: hidden;
  gap: 1rem;

  .home-left {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .blink-text {
      display: inherit;
      flex-direction: column;
      width: 26rem;
      height: 10rem;

      .cursor-blinker {
        display: inline-block;
        background-color: $text-primary;
        height: 2.25em;
        width: 2px;
        margin-left: 2px;
        transform: translateY(6px);
      }

      .title {
        display: inline-block;
        font-size: 3em;
        font-weight: 300;
        margin-bottom: 0;
      }

      .subhead {
        display: inline-block;
        font-size: 2em;
        font-weight: 300;
      }
    }

    .labels {
      padding-top: 3vh;
      padding-bottom: 1em;
      padding-left: 3rem;

      .label-secondary {
        padding-left: 2rem;
      }
    }

  }

  .loopy-arrow {
    position: absolute;
    width: 9rem;
    height: auto;
    object-fit: cover;
    pointer-events: none;
    user-select: none;
    transform: translateX(-22.5rem) translateY(5rem);
  }

  .home-right {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .img-w-outline {
      display: flex;
      border-radius: $corner-rounding;
      margin-right: 2rem;

      .img-container {
        position: relative;
        max-width: 70rem;
        width: auto;
        transition: transform .2s;

        .home-nav-img {
          width: 100%;
          height: auto;
          object-fit: cover;
          overflow: hidden;
          user-select: none;
          border-radius: 1000px;
          transition: transform .2s;
        }

        .outline-overlay {
          position: absolute;
          top: -20px;
          right: -20px;
          width: 100%;
          height: 99%;
          border: 2px solid $text-primary;
          border-radius: 1000px;
          z-index: 1;
          pointer-events: none;
          transition: transform .2s;
        }
      }

      .img-container:hover {
        .home-nav-img {
          transform: translateX(10px) translateY(-11px);
        }

        .outline-overlay {
          transform: translateX(-8px) translateY(11px);
        }
      }
    }

    .to-static {
      display: flex;
      flex-direction: row;
      align-items: center;
      align-self: center;
      padding-top: 1rem;
      gap: 16px;
    }
  }
}

// interactive
.room-and-paper {
  position: relative;
}

.paper-effect {
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 160px;
  height: 100px;
  background-color: $background-color;
  overflow: hidden;
}

.paper-effect::before {
  content: "";
  position: absolute;
  bottom: -55px;
  left: 26px;
  width: 260px;
  height: 130px;
  background-color: #857861;
  transform-origin: 100% 0;
  transform: rotate(31.5deg);
  box-shadow: -2px 2px 12px #b4b4b4;
}

.interactive-back-container {
  z-index: 6;
  position: absolute;
  bottom: 4px;
  padding: 0.6rem 0.5rem;
}

.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 1rem;
  color: $escher-purple;
  border: 2px solid $escher-purple;
  transition: background-color 0.25s ease;
  border-radius: 8px;
  height: 2.8rem;
  font-weight: $font-weight-med;
}

.nav-button:hover {
  color: white;
  background-color: $escher-purple;
}

.link-button {
  position: relative;
  display: inline-block;
  text-decoration: underline;
  color: inherit;
  cursor: pointer;
  padding: 0 0.5rem;
  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: $highlight-link;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.25s ease-in-out;
    z-index: -1; // Push behind text
  }

  &:hover {
    color: $escher-purple;

    &::before {
      transform: scaleX(1);
    }
  }
}

// about page
#about-spacing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#about {
  padding: 0;
  max-width: 112rem;
  transform: translateX(-50px) translateY(10px);
}

.about-section {
  display: flex;
  flex-direction: row;
  align-items: center;

  .about-img {
    width: 27%;
    height: auto;
    object-fit: contain;
  }

  .text-bounding-box {
    width: 80rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-left: 2rem;
    padding-right: 6rem;

    .color-box {
      display: flex;
      padding-left: 2rem;
      padding-bottom: 2rem;
      border-radius: $corner-rounding;

      .bio {
        position: relative;
        padding: 1em;
        line-height: 1.75;
        width: fit-content;
        height: fit-content;

        .outline-overlay {
          position: absolute;
          padding-right: 2rem;
          padding-top: 2rem;
          top: -1rem;
          right: -1rem;
          width: 100%;
          height: 100%;
          border: 2px solid black;
          border-radius: $corner-rounding;
          z-index: 1;
          pointer-events: none;
        }
      }
    }
  }
}

#color1 {
  background-color: #E8E1E8;
  margin-right: 7rem;
}

#color2 {
  background-color: #D0E8D2;
  margin-left: 7rem;
}

.color-swatches {
  width: 31.75rem;

  .swatch {
    position: relative;
    width: 20.1rem;
    background-color: white;
    box-shadow: $dropshadow;
    z-index: 1;

    .swatch-box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 9.25rem;
      padding: 1rem;
      margin-bottom: 0.5rem;

      .inline-row {
        display: inline;

        a {
          text-decoration: underline;
        }

        a:hover {
          color: $link-purple;
        }
      }

      .labels {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      #color-light {
        color: #5CA9AF;
      }

      #color-dark {
        color: #1E6E67;
      }

      #color-gray {
        color: #729FA8;
      }
    }

    #box1 {
      background-color: #D0F0EF;
    }

    #box2 {
      background-color: #AFE3DF;
    }

    #box3 {
      background-color: #65AEB3;
    }

    #box4 {
      background-color: #2C6B74;
      color: white;

      ul {
        display: flex;
        gap: 1rem;
        padding: 0;
        margin: 0;

        li {
          list-style-type: none;
          text-decoration: underline;
        }

        li:hover {
          color: $highlight-link;
        }
      }
    }

    .swatch-title {
      color: #6A6A6A;
      font-weight: $font-weight-bold;
      padding-top: 5.25rem;
      padding-left: 1rem;
      padding-bottom: 1rem;
    }
  }

  #decorative {
    position: absolute;
    width: 20rem;
    z-index: 0;
    transform: rotate(2.7deg) translate(35px, -20px);

    #box1 {
      background-color: #F1FEEF;
    }

    #box2 {
      background-color: #D0E8D2;
    }

    #box3 {
      background-color: #B8D3C0;
    }

    #box4 {
      background-color: #73AE9A;
    }
  }
}


#home-nav-bar {
  background: #ffffff00;
}

#static-nav-bar {
  background: #FFFFFF;
  box-shadow: $dropshadow;
}

// static portfolio nav bar
.nav-bar {
  min-height: 4rem;
  padding: 1em 6rem;
  overflow: hidden;

  .nav-bar-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    max-width: 96rem;

    .logo {
      font-family: "Covered By Your Grace";
      color: $escher-purple;
      display: inherit;
      align-items: center;
      font-size: 2em;
    }

    .logo:hover {
      color: $link-purple;
      transition: color 0.2s;
    }

    .links-and-button {
      display: flex;
      flex-direction: row;
      gap: 6rem;
      align-items: center;
    }

    .nav-links {
      display: flex;
      position: relative;

      ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style-type: none;
        width: 100%;
        gap: 6rem;

        li>a {
          display: flex;
          font-family: inherit;
          font-size: inherit;
          text-decoration: none;
          color: inherit;
          text-align: right;
        }

        a:hover {
          color: $link-purple;
          transition: color 0.2s;
        }
      }
    }
  }
}

.sliding-underline {
  position: absolute;
  height: 2px;
  background-color: black;
  bottom: 5px;
}

.active-link {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-style: wavy;
  /* or solid, dotted, etc. */
  font-weight: bold;
}


// case study page
#case-studies-spacing {
  height: 92.5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .content {
    margin: 0 auto;
  }
}

.portfolio-title {
  display: flex;
  flex-direction: row;
  padding: 1em 0;
  margin: 0 auto;
  justify-content: center;
}

.portfolio-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;

  .card {
    display: inherit;
    flex-direction: column;
    flex: 1;
    max-width: 30.5rem;
    min-width: 23rem;
    box-shadow: $dropshadow;
    border-radius: $corner-rounding;

    a,
    .card-tile {
      display: inherit;
      flex-direction: column;
      text-decoration: none;
      height: 100%;

      img {
        display: block;
        object-fit: cover;
        width: 100%;
        height: auto;
        border-top-left-radius: $corner-rounding;
        border-top-right-radius: $corner-rounding;
      }

      .description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 1em;

        .tags {
          display: inherit;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-end;
          min-height: 3rem;

          ul {
            display: inherit;
            flex-direction: column;
            justify-content: center;
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
              color: #838383;
            }
          }
        }
      }
    }
  }

  .card:hover {
    box-shadow: $dropshadow-hover;
  }
}

.spacer {
  padding: 2.75em;
}

// mini projects page
.mini-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  box-shadow: $dropshadow;
  margin: 0 auto;
  margin-bottom: 2em;
  border-radius: $corner-rounding;

  .top-header {
    display: inherit;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 3rem;
    padding-bottom: 1.5em;

    .title {
      font-weight: $font-weight-bold;
    }
  }

  .body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    padding: 0 3rem;
    padding-bottom: 1.5rem;
    flex-wrap: wrap;

    .item {
      display: flex;
      flex-direction: column;
      flex: 1;
      min-width: 300px;

      img {
        display: block;
        object-fit: cover;
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
      }

      .description {
        display: inherit;
        flex-direction: column;

        .name {
          font-weight: bold;
          margin: 0.5rem 0;
        }

        .description1 {
          display: flex;
          font-style: italic;
          margin-bottom: 0.5rem;
          min-height: 3rem;
        }

        .description2 {
          margin-bottom: 1rem;
        }

        .links {
          display: inherit;
          flex-direction: row;
          font-weight: $font-weight-med;
          color: $escher-purple;
          gap: 8px;

          a {
            position: relative;
            display: inline-block;
            text-decoration: none;
            color: inherit;
            z-index: 0;
            overflow: hidden;

            &::before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: $highlight-link;
              transform: scaleX(0);
              transform-origin: left;
              transition: transform 0.3s ease-in-out;
              z-index: -1;
            }

            &:hover {
              &::before {
                transform: scaleX(1);
              }
            }
          }
        }
      }
    }
  }
}


.img-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 1.5rem 6rem;
  max-width: 96rem;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;

    .img {
      width: 100%;
      height: auto;
      object-fit: cover;
      overflow: hidden;
      padding-bottom: 0.5rem;
    }

    .resize-img {
      // for images smaller than the width, fill the space
      flex: 1;
      height: auto;
      object-fit: cover;
      overflow: hidden;
      padding-bottom: 0.5rem;
    }

    .inner-column {
      display: flex;
      flex-direction: column;
      height: 100%;

      img {
        width: 100%;
      }
    }
  }
}


.secondary-nav-links {
  position: relative;
  padding-top: 1.5rem;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;

    li {
      display: flex;
      align-items: center;

      a {
        display: flex;
        font-family: inherit;
        font-size: inherit;
        text-decoration: none;
        color: inherit;
        text-align: right;
      }

      // Pipe between links
      &+li::before {
        content: "|";
        margin: 0 3rem; // controls space between links
        font-weight: 400;
      }
    }

    a:hover {
      color: $link-purple;
      transition: color 0.2s;
    }
  }
}

.back-to-top {
  position: fixed;
  bottom: 40px;
  right: 184px; // needed to keep button in frame on interactive screen

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    margin: auto;
    background: rgb(255, 255, 255);
    border: 2px solid #5A3CB2;
    border-radius: 100px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    .arrow {
      height: 40px;
      width: 40px;
      margin: auto;
      color: $escher-purple;
      stroke-width: 2;
    }
  }

  .back-text {
    margin-top: 16px;
    font-family: $font-family;
    font-size: 1rem;
    font-weight: 600;
    color: $escher-purple;
  }

  &:hover {
    .icon {
      background-color: $escher-purple;
      transform: scale(1.05) translateY(-4px);
      box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
      border: 4px solid $escher-purple;

      .arrow {
        color: white;
      }
    }
  }
}


// case studies
#passwordImg {
  position: absolute;
  left: 50%;
  transform: translateX(-120%);
  top: 50%;
  transform: translate(-144%, -55%);
  width: 400px;
  z-index: 0;
  pointer-events: none;
}

.password {
  display: flex;
  flex-direction: column;
  height: 78vh;
  justify-content: center;
  align-items: center;

  .passTitle {
    font-size: 1.75rem;
    padding-bottom: 1.5rem;
    font-weight: 700;
  }

  .inputBox {
    display: flex;
    border: 3px solid $goals-blue;
    border-radius: 8px;
    overflow: hidden;

    input {
      border: 0;
      padding: 0 1rem;
      overflow: hidden;
      background-color: rgb(255, 255, 255);
      width: 16rem;
    }

    button {
      border: 0;
      background-color: $goals-blue;
      color: white;
      height: 2.5rem;
      padding: 0 0.7rem;
    }
  }

  .pass-back-button {
    text-decoration: underline;
    padding-top: 1.5rem;
    font-weight: 600;
  }

  .pass-back-button:hover {
    color: $goals-blue;
  }
}

.content-case-study {
  margin: auto;
  padding: 0 6rem;
  max-width: 96rem;

  iframe {
    height: 850px;
  }
}

.top-card {
  flex: 1;
  position: relative;
  height: 32rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-between;
  border-radius: 16px 16px 0 0;

  .back-button {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 4rem;
    left: 4rem;
    color: white;
    gap: 2px;

    .chevron {
      width: 1rem;
    }

    .back-text {
      text-decoration: underline;
    }

    .back-text:hover {
      font-weight: 700;
    }
  }

  .text {
    width: 36%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 4rem;
    padding-top: 4rem;
    color: white;

    .title {
      font-size: 2em;
      padding-bottom: 8px;
    }

    .headline {
      padding-bottom: 24px;
      font-weight: 400;
    }

    a {
      text-decoration: none;
      width: fit-content;
      font-weight: 600;
      color: #262626;
      padding: 0.5em;
      border: 1.5px solid #262626;
      border-radius: 5px;
    }

    .white-button {
      color: white;
      border: 1.5px solid white;
      transition: background-color 0.1s ease;
    }

    .white-button:hover {
      color: white;
      background-color: #00000075;
      border: 1.5px solid white;
    }

    .white-button-dark {
      //for anivision, on dark background
      color: white;
      border: 1.5px solid white;
      transition: background-color 0.1s ease;
    }

    .white-button-dark:hover {
      color: white;
      background-color: #FFFFFF35;
      border: 1.5px solid white;
    }
  }


  .header-img {
    max-width: 45%;
    height: auto;
    padding-right: 5rem;
    margin-top: 3rem;
    align-self: flex-end;
    pointer-events: none;

    img {
      width: 100%;
      display: block;
    }
  }

  .header-img-anivision {
    max-width: 53%;
    height: auto;
    padding-right: 2rem;
    margin: auto 0;
    align-self: flex-end;
    pointer-events: none;

    img {
      width: 100%;
      display: block;
      border-radius: $corner-rounding;
    }
  }
}

#align-center {
  align-self: center;
}

#grace-top-background {
  background-color: $grace-blue;
}

#goals-top-background {
  background-color: $goals-blue;
}

#burnout-top-background {
  background-image: url(./assets/images/caseStudies/burnout/burnoutTopBackground.png);
  background-size: cover;
  background-position: center;
  background-color: #f0f0f0;
}

#spaces-top-background {
  background-image: url(./assets/images/caseStudies/spaces/spacesTopBackground.png);
  background-size: cover;
  background-position: center;
  background-color: #f0f0f0;
}

#anivision-top-background {
  background-color: #0A0B0B;
  // background-color: $anivision-blue;
  background-color: #1E273D;
  // background-color: #38579D;
  display: flex;
}

.full-caption {
  padding-bottom: 5rem;
}

.img-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  padding-bottom: 2rem;
}

.img-row-w-caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  padding: 2rem 0;
  padding-bottom: 0;
}

.lr-img-text {
  display: flex;
  flex-direction: row;
  gap: 64px;
  padding-top: 1rem;

  .imgs {
    display: flex;
    flex-direction: row;

    img {
      width: 264px;
    }
  }

  .text {
    padding-top: 1rem;
  }
}

.img-single {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    // flex: 1 0 auto;
    padding-bottom: 0.5rem;

  }
}

#smaller {
  width: 80%;
  margin: auto;
}

.caption {
  font-style: italic;
}

#spaces-caption {
  height: 3rem;
}

#goals-setup {
  justify-content: center;
  padding: 0 8rem;
  padding-bottom: 5rem;

  .img-row-w-caption {
    justify-content: flex-start;
    gap: 0;

    img {
      width: 264px;
    }
  }
}

#grace-chart-img {
  width: 75%;
}

#percentage-split-img {
  width: 80%;
  padding: 2rem 4rem;
}


.summary {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 3vw;
}

.secondary-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;

  .list {
    padding: 1.5rem 1rem;
    padding-bottom: 2rem;
    text-align: center;

    li {
      list-style-type: none;
      width: 12rem;
    }
  }
}

.secondary-container {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2.5rem;

  .list {
    padding: 1.5rem 3.5rem;
    padding-bottom: 1.25rem;
    text-align: center;
  }
}

#horizontal {
  display: flex;
  flex-direction: row;
  margin: auto;
  border-top: 1px solid #7B7B7B;
  border-bottom: 1px solid #7B7B7B;
}

#burnout-img {
  display: flex;
  margin: auto;
}



.divider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding-top: 3rem;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: #aaa;
  border: none;
}

.label {
  font-weight: 600;
  white-space: nowrap;
}

.arrow-case-study {
  display: flex;
  width: 2.5em;
  padding-bottom: 2rem;
}

.summary-section {
  margin-bottom: 2rem;
}

.detail-section {
  margin-bottom: 96px;

  .section-title {
    padding-top: 0.75rem;
    margin-bottom: 1rem;
  }
}

//color dependent on the case study page
#grace-deco {
  border-top: 3px solid $grace-blue;
  width: 2em;
}

#goals-deco {
  border-top: 3px solid $goals-blue;
  width: 2em;
}

#spaces-deco {
  border-top: 3px solid $escher-purple;
  width: 2em;
}

#anivision-deco {
  border-top: 3px solid $anivision-blue;
  width: 2em;
}

.deco-white-callout {
  //for spacing purposes
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
}

.text-callout {
  margin: auto;
  width: 75%;
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.gray-callouts {
  display: flex;
  flex-direction: row;
  margin-bottom: 4rem;
  gap: 2rem;

  .gray-card {
    background-color: #EEEEEE;
    flex: 1;
    padding: 2rem;
    border-radius: $corner-rounding;
  }
}

.white-callout {
  display: flex;
  margin-bottom: 4rem;
  box-shadow: $dropshadow;
  border-radius: $corner-rounding;

  .white-card {
    padding: 2rem;
  }
}

//color dependent on the case study page
#grace-color {
  color: $grace-blue;
}

#goals-color {
  color: $goals-blue;
}

#spaces-color {
  color: $escher-purple;
}

#anivision-color {
  color: $anivision-blue;
}


.text-block {
  margin-bottom: 2rem;

  ul {
    margin-top: 0.5rem;
  }
}

.pie-charts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .pie {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    text-align: center;

    img {
      width: 50%;
      margin-bottom: 1rem;
    }
  }
}

.savings-rules {
  display: flex;
  flex-direction: column;
  padding: 2.5rem 2rem;
  gap: 0.5rem;

  .savings-rule {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    img {
      width: 56px;
    }
  }
}

.footer {
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 96rem;
    height: 4rem;
    gap: 1rem;

    .footer-section {
      min-width: 5rem;

      ul {
        display: flex;
        flex-direction: row;
        gap: 12px;
        margin: 0;
        padding: 0;

        li {
          list-style-type: none;
          text-decoration: underline;
          font-weight: 700;
        }

        li:hover {
          color: $link-purple;
        }
      }
    }
  }
}

// smaller desktop screens
@media only screen and (max-width: 2100px) {
  .back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
  }
}

@media only screen and (max-width: 1920px) {

  //MAIN
  .home-page {
    .home-left .labels {
      padding-left: 1rem;

      .label-secondary {
        padding-left: 1rem;
      }
    }

    .loopy-arrow {
      transform: translateX(-22rem) translateY(5rem);
    }
  }

  .indent {
    width: 1rem;
  }

  #about {
    max-width: 84rem;
    padding-top: 2rem;
  }

  .about-section .text-bounding-box {
    padding-right: 1rem;

    .color-box {
      padding-left: 2rem;
    }
  }

  #color1 {
    background-color: #E8E1E8;
    margin-right: 0rem;
  }

  #color2 {
    background-color: #D0E8D2;
    margin-left: 0rem;
  }

  .color-swatches {
    width: 18rem;
    transform: translateX(3rem);
  }
}

@media only screen and (max-width: 1820px) {

  // interactive
  .paper-effect {
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 122px;
    height: 75px;
    background-color: $background-color;
    overflow: hidden;
  }

  .paper-effect::before {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 12px;
    width: 146px;
    height: 65px;
    background-color: #857861;
    transform-origin: 100% 0;
    transform: rotate(31.5deg);
    box-shadow: -2px 2px 12px #b4b4b4;
  }

  .interactive-back-container {
    z-index: 6;
    position: absolute;
    bottom: 10px;
    padding: 0 4px;
  }

  body,
  html {
    font-size: 14px;
    line-height: 1.5;
  }

  .home-page {

    .loopy-arrow {
      width: 8rem;
      transform: translateX(-24rem) translateY(5rem);
    }
  }
}



// tablet screens
@media only screen and (max-width: 1366px) {

  // home page
  .home-page {
    flex-direction: column;
    justify-content: flex-start;
    min-height: 72rem;

    .home-left {
      min-height: 18rem;
      padding-bottom: 1rem;
    }

    .home-right .img-w-outline {

      .img-container .outline-overlay {
        top: -1.5rem;
        right: -1.5rem;
      }
    }

    .loopy-arrow {
      transform: translateX(10.5rem) translateY(16.5rem) scaleY(-1);
    }
  }

  // about page
  .about-section {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 2rem;

    .about-img {
      margin: auto;
      padding: 0 12rem;
      width: 35%;
    }

    .text-bounding-box {
      width: 60%;
      margin-right: 2rem;
      flex-direction: column;
    }

    .color-swatches {
      margin-right: 4rem;
    }
  }

  // portfolio page
  .portfolio-row {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  #goals-setup {
    padding: 0;
    padding-top: 16px; // should match full-caption
    padding-bottom: 40px;

    .img-row-w-caption {
      display: flex;
      width: 100%;
      justify-content: space-between;

      img {
        flex: 1;
        width: 20%;
        height: auto;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {

  // about page
  #about {
    transform: translateX(0px) translateY(0px);
  }

  .about-section {
    .about-img {
      margin: auto;
      padding: 0 12rem;
      width: 35%;
      margin-bottom: 2rem;
    }

    .text-bounding-box {
      width: 90%;
      margin-bottom: 4rem;
    }
  }

  // mini projects page
  .mini-section {
    .top-header {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 2rem 16px;
      padding-bottom: 1.5em;
    }

    .body {
      padding: 0 16px;

      .item {
        display: flex;
        flex-direction: row;
        padding-bottom: 8px;
        min-width: 500px;
        gap: 32px;

        img {
          width: 50%;
        }

        .description {
          padding-bottom: 16px;
          display: flex;
          justify-content: center;

          .description1 {
            font-style: italic;
            margin-bottom: 0.5rem;
            height: auto;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1010px) {
  #static-nav-bar .nav-bar-content {
    flex-direction: column;
    align-items: center;

    .logo {
      align-items: center;
    }

    .nav-links ul {
      gap: 48px;
      padding-left: 0px;
      align-items: flex-end;

      li a {
        text-align: center;
      }
    }

    .nav-button {
      display: none;
    }
  }
}

// mobile screens
@media only screen and (max-width: 900px) {

  body,
  html {
    font-size: 12px;
    line-height: 1.5;
  }

  .content {
    margin: 0 0;
    padding: 0 24px;
  }

  .page-wrapper {
    min-height: 86vh;
  }

  .nav-bar {
    padding: 1em 24px;
  }

  #desktop {
    display: none;
  }

  #mobile {
    display: block;
  }

  // home page
  .home-page {
    flex-direction: column;
    margin: 0 24px;
    padding: 0 0;
    min-height: auto;
    overflow: visible;

    .home-left {
      width: 100%;
      align-items: center;
      justify-content: space-between;
      padding-top: 24px;

      .blink-text {
        width: 22rem;
      }

      .labels {
        display: flex;
        flex-direction: column;
        gap: 72px;

        .label {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 12px;
          padding: 0;
        }
      }

    }

    .home-right {
      display: flex;
      justify-content: center;
      align-items: center;

      .img-w-overlay {
        position: relative;
        display: inline-block;

        .img-container {
          border-radius: 1000px;
          overflow: hidden;
          border: 2px solid $text-primary;
          position: relative;
          width: 100%;


          .overlay-text {
            position: absolute;
            display: flex;
            flex-direction: column;
            top: 0%;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.55);
            color: white;
            border-radius: 1000px;
            pointer-events: none;
            z-index: 2;
            justify-content: center;
            text-align: center;
            font-size: 1.25rem;
            gap: 8px;
            animation: fadeIn 0.3s ease;

            .text-block {
              display: flex;
              flex-direction: column;
              padding: 2rem;
              gap: 0.5rem;
            }
          }
        }
      }

      .nav-button {
        display: inline-flex;
        background-color: $background-color;
        transform: translateY(-18px);
        color: $escher-purple;
        z-index: 5;
      }

      .pointer-hand {
        width: 6%;
        transform: translateX(30px) translateY(-28px);
        z-index: 10;
      }

      @keyframes fadeIn {
        from {
          opacity: 0;
        }

        to {
          opacity: 1;
        }
      }

      .to-static {
        flex-direction: column;
        align-items: end;
      }
    }
  }

  // about page
  #about {
    transform: translateX(0px) translateY(0px);
    padding-top: 0;
  }

  .about-section {
    flex-direction: column;

    .about-img {
      width: 60%;
      padding: 0;
      margin: 0;
      height: auto;
      object-fit: contain;
    }

    .text-bounding-box {
      padding-right: 0px;
      padding-left: 0px;
      transform: translateX(-8px);
      margin: 3rem 0;
      width: auto;

      .color-box {
        padding-left: 1.5rem;
        padding-bottom: 1.5rem;

        .bio {
          padding-right: 0.75em;
          padding-left: 0.25em;

          .outline-overlay {
            padding-right: 1.5rem;
            padding-top: 1.5rem;
          }
        }
      }
    }

    .color-swatches {
      display: flex;
      width: 28rem;
      margin: 2rem auto;
      transform: translateX(16px);
    }
  }

  // nav bar
  #static-nav-bar .nav-bar-content {
    flex-direction: column;
    align-items: center;

    .logo {
      align-items: center;
    }

    .nav-links ul {
      gap: 48px;
      padding-left: 0px;
      align-items: flex-end;

      li a {
        text-align: center;
      }
    }

    .nav-button {
      display: none;
    }
  }

  // case studies
  .portfolio-row {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .back-to-top {
    display: none;
  }

  .content-case-study {
    padding: 0 24px;

    iframe {
      height: 220px;
    }
  }

  .top-card {
    flex-direction: column-reverse;
    height: auto;
    margin: 0;

    .back-button {
      color: $text-primary;
      top: 24px;
      left: 0px;
    }

    .text {
      padding: 0;
      padding-top: 16px;
      width: auto;
      color: $text-primary;

      .headline {
        padding: 0;
      }

      .white-button,
      .white-button-dark {
        color: $text-primary;
        border: 1.5px solid $text-primary;
        margin: 16px 0;
      }

      .white-button:hover,
      .white-button-dark:hover {
        color: white;
        background-color: #00000075;
        border: 1.5px solid $text-primary;
      }
    }

    .header-img {
      max-width: 100%;
      padding: 20px 24px;
      background-color: $grace-blue;
    }

    .header-img-anivision,
    .mobile-header-img {
      max-width: 100%;
      padding: 0;
      margin-top: 3rem;
    }
  }

  #grace-top-background,
  #goals-top-background,
  #anivision-top-background,
  #spaces-top-background,
  #burnout-top-background {
    background-color: transparent;
    background-image: none;
    padding-top: 24px;
  }

  .summary {
    flex-direction: column-reverse;
    gap: 0;
  }

  .secondary-container {
    width: 100%;

    .secondary-info {
      width: 100%;
      padding-top: 24px;
      padding-bottom: 32px;
      gap: 4px;

      .list {
        display: flex;
        padding: 0;
        justify-content: flex-start;
        gap: 12px;

        li {
          width: auto;
        }
      }
    }
  }

  .detail-section {
    margin-bottom: 64px;
  }

  .text-block {
    margin-bottom: 16px;

    ul {
      padding-left: 16px;
    }
  }

  #grace-chart-img {
    width: 100%;
  }

  .text-callout {
    width: auto;
    padding: 0 16px;
    margin: 32px 0;
  }

  .gray-callouts {
    flex-direction: column;
    margin-bottom: 32px;
    gap: 12px;

    .gray-card {
      padding: 16px;
    }
  }

  .white-callout {
    margin-top: 24px;
  }

  #smaller {
    width: 100%;
  }

  .full-caption {
    padding-top: 24px;
    padding-bottom: 48px;

  }

  .img-row-w-caption,
  .img-row {
    padding: 0;
    flex-wrap: wrap;

    .img-single {
      min-width: 30%;
    }
  }

  .img-row {
    padding-top: 24px;
    padding-bottom: 48px;
  }

  #goals-setup {
    padding: 0;
    padding-top: 16px; // should match full-caption
    padding-bottom: 40px;

    .img-row-w-caption {
      display: flex;
      width: 100%;
      justify-content: space-between;

      img {
        flex: 1;
        width: 20%;
        height: auto;
      }
    }
  }

  .pie-charts {
    flex-direction: column;
    gap: 24px;

    .pie {
      width: auto;

      img {
        width: 30%;
        margin-bottom: 0.5rem;
      }
    }
  }

  .savings-rules {
    padding: 2.5rem 0;
    gap: 16px;
  }

  #percentage-split-img {
    width: 100%;
    padding: 2rem 0;
  }

  .lr-img-text {
    flex-direction: column;
    gap: 0px;
    margin-bottom: 40px;

    .imgs {
      display: flex;
      width: 100%;
      justify-content: center;

      img {
        flex: 1;
        max-width: 50%;
        height: auto;
      }
    }
  }

  #burnout-img {
    width: 100%;
  }

  #horizontal {
    display: flex;
    flex-direction: column;
    margin: auto;
    border-top: 1px solid #7B7B7B;
    border-bottom: 1px solid #7B7B7B;
    padding: 16px 0;
  }

  // mini projects page
  .mini-section {
    .top-header {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 2rem 16px;
      padding-bottom: 1.5em;
    }

    .body {
      padding: 0 16px;

      .item {
        display: flex;
        flex-direction: row;
        padding-bottom: 8px;
        min-width: 500px;
        gap: 16px;

        img {
          width: 50%;
        }

        .description {
          padding-bottom: 16px;

          .description1 {
            font-style: italic;
            margin-bottom: 0.5rem;
            height: auto;
          }
        }
      }
    }
  }


  // artwork page
  .secondary-nav-links {

    // Pipe between links
    ul {
      width: 100vw;
      padding-left: 0;

      li {
        &+li::before {
          content: "|";
          margin: 0 1rem; // controls space between links
          font-weight: 400;
        }
      }
    }
  }

  .img-section {
    margin: 0;
    width: auto;
    padding: 1.5rem 24px;
  }
}

// super tiny screens fixes
@media only screen and (max-width: 650px) {
  .mini-section {
    .body {
      flex-direction: column;

      .item {
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: 8px;
        min-width: auto;

        img {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 375px) {

  // nav bar
  .nav-bar-content {
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin: auto;

    .logo {
      margin: auto;
    }

    .links-and-button {
      margin: auto;

      .nav-links ul {
        gap: 40px;
        // background-color: red;
        padding-left: 0px;
        align-items: flex-end;
      }
    }
  }

  .home-page {
    .home-left {
      .blink-text {
        width: 20rem;
      }

      .labels {
        width: auto;
        padding-left: 0;
        padding-right: 0;

        .label {

          .text-title,
          .highlight-pink {
            text-wrap: wrap;
          }
        }
      }
    }
  }

  .about-section {
    overflow-x: hidden;
    margin-left: 16px;
    margin-right: 4px;

    .text-bounding-box {
      margin-right: 1rem;
    }

    .color-swatches {
      width: 20rem;
      transform: translateX(-32px);
    }
  }
}

@media only screen and (max-width: 340px) {
  .about-section {
    overflow-x: hidden;
    margin-left: 16px;
    margin-right: 4px;

    .color-swatches {
      width: 20rem;
      transform: translateX(-4px);
    }
  }
}